<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <system.diagnostics>
    <sources>
      <source name="TestLogging" switchName="SourceSwitchAll">
        <listeners>
          <add name="Log4NetTraceListenerWithFilter" />
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="SourceSwitchOff" value="Off" />
      <add name="SourceSwitchError" value="Error" />
      <add name="SourceSwitchWarning" value="Warning" />
      <add name="SourceSwitchInfo" value="Info" />
      <add name="SourceSwitchVerbose" value="Verbose" />
      <add name="SourceSwitchAll" value="All" />
    </switches>
    <sharedListeners>
      <add name="Log4NetTraceListenerWithFilter" 
           type="biz.dfch.CS.Commons.Diagnostics.Log4NetTraceListener, biz.dfch.CS.Commons, PublicKeyToken=ddc350d26de1d0d9" 
           initializeData="log4net.config">
        <filter type="System.Diagnostics.EventTypeFilter" 
                initializeData="All" />
      </add>
    </sharedListeners>
    <trace autoflush="false" indentsize="4">
      <listeners>
        <add name="Log4NetTraceListenerWithFilter" 
             type="biz.dfch.CS.Commons.Diagnostics.Log4NetTraceListener, biz.dfch.CS.Commons, PublicKeyToken=ddc350d26de1d0d9" 
             initializeData="TRACE" />
      </listeners>
    </trace>
  </system.diagnostics>
  
</configuration>